/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
    margin: 0;
    padding: 0;
 }
 *, *:before, *:after {
    box-sizing: inherit;
  }

header{
    background-color: #ccc;
}
  
 html {
    box-sizing: border-box;
  }

nav{
    background: #ccc;
    box-shadow: 0 8px 6px -6px black;
}

 nav.container{
    display: flex;
    width: 100vw;
    border-bottom: 1px solid rgb(196, 196, 196);
    justify-content: center;
    align-items: center;
    background: #ccc;
    height: 5vh;
    box-shadow: 0 18px 16px -16px black;
 }

 nav.container .sitename{
    font-size: larger;
    margin-right: 1em;
 }

 nav .container a{
    text-decoration: none;
 }

 nav.container div:first-child{
    display: flex;
    align-items: center;
    justify-content: flex-start;
 }

 nav.container div:not(:first-of-type){
    display: flex;
    justify-content: center;
    border: solid 10px solid red;
 }

nav .sitename a{
    color:rgb(36, 35, 35);
    font-family: 'Lobster', cursive;
    letter-spacing: 1px;
}

nav .icon a{
    color: white;
    font-family: 'Cabin', sans-serif;
    padding: 1em;
}

nav .icon a:hover{
    color:rgb(235, 253, 236)
}

.divider{  
    display: flex;
    align-items: center; 
}

.icon {
    display: flex;
    width: 100px;
    height: 30px;
    align-items: center;
  }

nav a{
    text-decoration: none;
  }

